body {
  font-family: 'Inconsolata', monospace;
  background-color:#5078df;
  color:aliceblue;
  font-size:1.5vw;
}

ul {
  list-style-type: circle;
}

a {
  color:#e1daff;
  text-decoration:none;
}

a:hover {
  background-color: #5282e6;
  color:aliceblue; 
  text-decoration:none;
}

.navbar li {
  display:inline;
  color:aliceblue;
}

.text-container {
  align:left; 
}

