body {
  font-family: 'Inconsolata', monospace;
  background-color:#6c94e7;
  color:aliceblue;
  font-size:1.5vw;
}

ul {
  list-style-type: circle;
}

.navbar li {
  display:inline;
  color:aliceblue;
}

.navbar li a:hover {
  background-color: #606cd1;
  color:aliceblue;
  font-size:1.6vw; 
}

.text-container {
  align:left; 
}

