* {
  box-sizing: border-box;
}

body {
  font-family: 'Menlo', sans-serif;
  background-color:#719fb8;
  color:#dee9ea;
  font-size:1.5vw;
}

ul {
  list-style-type: circle;
}

li {
  line-height: 1.5;
}

a {
  color:#e1daff;
  text-decoration:none;
}

a:hover {
  background-color: #5282e6;
  color:aliceblue; 
  text-decoration:none;
}

div {
  padding:15px 10vw;
  align:left;

}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50%      { opacity: 0; }
}

.navbar {
  border-bottom:none;
  padding:1vw 1vw 1vw;
}

.navbar li {
  display:inline;
  padding:15px 15px; 
  color:aliceblue;
}

.text-container p {
  padding: 15px 15px; 
}

#about-me {
  display:flex; 
  position:relative; 
  justify-content:center;
  align:left;
  flex-direction:row;
  width:max-content;
  box-sizing: border-box;

}

.background-video-wrapper {
  color: #fff;
  background: #000;
  text-align: center;
  position: relative;
  video {
    opacity:.5;
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .copy {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
  }
  .myname {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 2.5vmax 4rem;
  }

  .myname::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 3px;
    background: rgba(255, 255, 255, 1);
    margin-left: 2px;
    animation: blink 1s steps(1, start) infinite;
    /* will-change: opacity; */
  }
}

.faded {
  -webkit-mask-image: radial-gradient(ellipse 70% 70% at 50% 50%, black 50%, transparent 100%);
  mask-image: radial-gradient(ellipse 70% 70% at 50% 50%, black 50%, transparent 100%);
}
